# Files & folders
.DS_Store
.stignore
*.pyc
*.sw?
# VSCode workspace file
*.code-workspace
README_private.md

# Test coverage reports
xfrontend/coverage
xbackend/.coverage

# Possible IDE settings
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.stfolder/

# Ignores any directory at any level. The trailing / matters!
__pycache__/
node_modules/

# Frequently changing files
xbackend/db.sqlite3
xbackend/media/
**/migrations/*.py
!**/migrations/__init__.py

# Temporary folders & files
tmp/
temp/

# Ignores Tauri build output which can be large!
xfrontend/src-tauri/target/
xbackend/tests/report.html
